## Load Data from CSVs

In [14]:
import unicodecsv

with open('enrollments.csv','rb') as f:
    reader = unicodecsv.DictReader(f)
    enrollments = list(reader) 
    
        
enrollments[0]

{'account_key': '448',
 'status': 'canceled',
 'join_date': '2014-11-10',
 'cancel_date': '2015-01-14',
 'days_to_cancel': '65',
 'is_udacity': 'True',
 'is_canceled': 'True'}

In [15]:
type(enrollments)

list

In [75]:
enrollments[0]

{'account_key': '448',
 'status': 'canceled',
 'join_date': datetime.datetime(2014, 11, 10, 0, 0),
 'cancel_date': datetime.datetime(2015, 1, 14, 0, 0),
 'days_to_cancel': 65,
 'is_udacity': True,
 'is_canceled': True}

In [17]:
#####################################
#                 1                 #
#####################################

## Read in the data from daily_engagement.csv and project_submissions.csv 
## and store the results in the below variables.
## Then look at the first row of each table.

with open('daily_engagement.csv','rb') as f : 
    reader = unicodecsv.DictReader(f)
    daily_engagement = list(reader)

daily_engagement[0]


#project_submissions =

{'acct': '0',
 'utc_date': '2015-01-09',
 'num_courses_visited': '1.0',
 'total_minutes_visited': '11.6793745',
 'lessons_completed': '0.0',
 'projects_completed': '0.0'}

In [18]:
with open('project_submissions.csv','rb') as f : 
    reader =unicodecsv.DictReader(f)
    project_submissions = list(reader)

project_submissions[0]

{'creation_date': '2015-01-14',
 'completion_date': '2015-01-16',
 'assigned_rating': 'UNGRADED',
 'account_key': '256',
 'lesson_key': '3176718735',
 'processing_state': 'EVALUATED'}

In [19]:
daily_engagement[0]

{'acct': '0',
 'utc_date': '2015-01-09',
 'num_courses_visited': '1.0',
 'total_minutes_visited': '11.6793745',
 'lessons_completed': '0.0',
 'projects_completed': '0.0'}

In [20]:
project_submissions[0]

{'creation_date': '2015-01-14',
 'completion_date': '2015-01-16',
 'assigned_rating': 'UNGRADED',
 'account_key': '256',
 'lesson_key': '3176718735',
 'processing_state': 'EVALUATED'}

In [21]:
#make reader function file to make a work easier
def read_csv(filename):
    with open(filename,'rb') as f : 
        reader =unicodecsv.DictReader(f)
        return list(reader)

    
    
enrollments = read_csv("enrollments.csv")



daily_engagement= read_csv("daily_engagement.csv")
project_submissions= read_csv("project_submissions.csv")

daily_engagement[0]
project_submissions[0]

{'creation_date': '2015-01-14',
 'completion_date': '2015-01-16',
 'assigned_rating': 'UNGRADED',
 'account_key': '256',
 'lesson_key': '3176718735',
 'processing_state': 'EVALUATED'}

## Fixing Data Types

In [22]:
from datetime import datetime as dt

# Takes a date as a string, and returns a Python datetime object. 
# If there is no date given, returns None
def parse_date(date):
    if date == '':
        return None
    else:
        return dt.strptime(date, '%Y-%m-%d')
    
# Takes a string which is either an empty string or represents an integer,
# and returns an int or None.
def parse_maybe_int(i):
    if i == '':
        return None
    else:
        return int(i)

# Clean up the data types in the enrollments table
for enrollment in enrollments:
    enrollment['cancel_date'] = parse_date(enrollment['cancel_date'])
    enrollment['days_to_cancel'] = parse_maybe_int(enrollment['days_to_cancel'])
    enrollment['is_canceled'] = enrollment['is_canceled'] == 'True'
    enrollment['is_udacity'] = enrollment['is_udacity'] == 'True'
    enrollment['join_date'] = parse_date(enrollment['join_date'])
    
enrollments[0]

{'account_key': '448',
 'status': 'canceled',
 'join_date': datetime.datetime(2014, 11, 10, 0, 0),
 'cancel_date': datetime.datetime(2015, 1, 14, 0, 0),
 'days_to_cancel': 65,
 'is_udacity': True,
 'is_canceled': True}

In [23]:
enrollments[4]

{'account_key': '448',
 'status': 'current',
 'join_date': datetime.datetime(2015, 3, 10, 0, 0),
 'cancel_date': None,
 'days_to_cancel': None,
 'is_udacity': True,
 'is_canceled': False}

In [24]:
# Clean up the data types in the engagement table
for engagement_record in daily_engagement:
    engagement_record['lessons_completed'] = int(float(engagement_record['lessons_completed']))
    engagement_record['num_courses_visited'] = int(float(engagement_record['num_courses_visited']))
    engagement_record['projects_completed'] = int(float(engagement_record['projects_completed']))
    engagement_record['total_minutes_visited'] = float(engagement_record['total_minutes_visited'])
    engagement_record['utc_date'] = parse_date(engagement_record['utc_date'])
    
daily_engagement[0]

{'acct': '0',
 'utc_date': datetime.datetime(2015, 1, 9, 0, 0),
 'num_courses_visited': 1,
 'total_minutes_visited': 11.6793745,
 'lessons_completed': 0,
 'projects_completed': 0}

In [25]:
# Clean up the data types in the submissions table
for submission in project_submissions:
    submission['completion_date'] = parse_date(submission['completion_date'])
    submission['creation_date'] = parse_date(submission['creation_date'])

project_submissions[0]

{'creation_date': datetime.datetime(2015, 1, 14, 0, 0),
 'completion_date': datetime.datetime(2015, 1, 16, 0, 0),
 'assigned_rating': 'UNGRADED',
 'account_key': '256',
 'lesson_key': '3176718735',
 'processing_state': 'EVALUATED'}

## Investigating the Data

In [26]:
#####################################
#                 2                 #
#####################################

## Find the total number of rows and the number of unique students (account keys)
## in each table.

In [29]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [30]:
enrollments.head()  #This is not a dataframe so I can't use head fuction or info module

AttributeError: 'list' object has no attribute 'head'

In [31]:
#make dataframe function
def change2DF(data):
    return pd.DataFrame(data)

In [32]:
enrollmentsDF = change2DF(enrollments)
engagementDF   =change2DF(daily_engagement)
project_subDF  =change2DF(project_submissions)

In [33]:
enrollmentsDF.info()     # I can check total number by Rangeindex

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1640 entries, 0 to 1639
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   account_key     1640 non-null   object
 1   status          1640 non-null   object
 2   join_date       1640 non-null   datetime64[ns]
 3   cancel_date     988 non-null    datetime64[ns]
 4   days_to_cancel  988 non-null    float64
 5   is_udacity      1640 non-null   bool
 6   is_canceled     1640 non-null   bool
dtypes: bool(2), datetime64[ns](2), float64(1), object(2)
memory usage: 67.4+ KB

In [34]:
enrollmentsDF

,account_key,status,join_date,cancel_date,days_to_cancel,is_udacity,is_canceled
0,448,canceled,2014-11-10,2015-01-14,65.0,True,True
1,448,canceled,2014-11-05,2014-11-10,5.0,True,True
2,448,canceled,2015-01-27,2015-01-27,0.0,True,True
3,448,canceled,2014-11-10,2014-11-10,0.0,True,True
4,448,current,2015-03-10,NaT,NaN,True,False
...,...,...,...,...,...,...,...
1635,1176,current,2015-08-12,NaT,NaN,False,False
1636,1110,current,2015-08-13,NaT,NaN,False,False
1637,1116,canceled,2015-08-15,2015-08-18,3.0,False,True
1638,874,current,2015-08-22,NaT,NaN,False,False
1639,686,current,2015-08-23,NaT,NaN,False,False

In [35]:
engagementDF.info()
project_subDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136240 entries, 0 to 136239
Data columns (total 6 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   acct                   136240 non-null  object
 1   utc_date               136240 non-null  datetime64[ns]
 2   num_courses_visited    136240 non-null  int64
 3   total_minutes_visited  136240 non-null  float64
 4   lessons_completed      136240 non-null  int64
 5   projects_completed     136240 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(1)
memory usage: 6.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3642 entries, 0 to 3641
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   creation_date     3642 non-null   datetime64[ns]
 1   completion_date   3636 non-null   datetime64[ns]
 2   assigned_rating   3642 non-null   object
 3   account_key       3642 non-null   object
 4   lesson_key        3642 non-null   object
 5   processing_state  3642 non-null   object
dtypes: datetime64[ns](2), object(4)
memory usage: 170.8+ KB

In [36]:
enrollmentsDF['account_key'].dtypes #object
type(enrollmentsDF['account_key'])   #series

pandas.core.series.Series

In [37]:
enrollmentsDF['account_key'].astype({'account_key':'int'}).dtypes

dtype('int64')

In [38]:
enrollmentsDF['account_key'].dtypes

dtype('O')

In [39]:
enrollmentsDF['account_key'].values

array(['448', '448', '448', ..., '1116', '874', '686'], dtype=object)

In [40]:
#count down unique keys
unique_enrolled_students =set()
for enrollment in enrollmentsDF:
    unique_enrolled_students.add(int(enrollment['account_key']))

TypeError: string indices must be integers

In [41]:
#count down unique key
unique_enrolled_students =set()
for enrollment in enrollmentsDF:
    unique_enrolled_students.add(enrollment['account_key'].astype({'account_key':'int'}))

TypeError: string indices must be integers

In [42]:
#count down unique key
unique_enrolled_students =set()
for enrollment in enrollmentsDF["account_key"]:
    unique_enrolled_students.add(enrollment)
len(unique_enrolled_students)

1302

In [43]:
unique_enrolled_students

{'1160',
 '401',
 '1212',
 '10',
 '1297',
 '863',
 '426',
 '562',
 '133',
 '495',
 '1249',
 '1104',
 '148',
 '425',
 '1129',
 '542',
 '107',
 '220',
 '267',
 '1147',
 '733',
 '693',
 '352',
 '643',
 '369',
 '449',
 '612',
 '76',
 '64',
 '1202',
 '33',
 '833',
 '1037',
 '717',
 '1117',
 '854',
 '457',
 '1003',
 '665',
 '86',
 '993',
 '948',
 '584',
 '816',
 '682',
 '254',
 '1124',
 '298',
 '1119',
 '1135',
 '111',
 '287',
 '321',
 '1280',
 '151',
 '501',
 '657',
 '289',
 '18',
 '140',
 '954',
 '381',
 '828',
 '49',
 '653',
 '723',
 '142',
 '70',
 '843',
 '596',
 '971',
 '1289',
 '847',
 '545',
 '779',
 '213',
 '967',
 '497',
 '297',
 '446',
 '1255',
 '204',
 '419',
 '474',
 '345',
 '443',
 '984',
 '1225',
 '63',
 '52',
 '776',
 '61',
 '62',
 '403',
 '812',
 '529',
 '737',
 '691',
 '896',
 '942',
 '191',
 '72',
 '235',
 '639',
 '648',
 '696',
 '1193',
 '915',
 '1084',
 '11',
 '695',
 '466',
 '857',
 '720',
 '845',
 '424',
 '838',
 '1121',
 '348',
 '1201',
 '1168',
 '286',
 '522',
 '608',
 '484',
 '302',
 '670',
 '686',
 '830',
 '906',
 '589',
 '1301',
 '996',
 '968',
 '136',
 '493',
 '975',
 '520',
 '683',
 '599',
 '106',
 '1126',
 '478',
 '709',
 '192',
 '694',
 '161',
 '920',
 '209',
 '417',
 '620',
 '597',
 '922',
 '276',
 '1031',
 '515',
 '1303',
 '907',
 '748',
 '853',
 '99',
 '260',
 '577',
 '138',
 '544',
 '689',
 '405',
 '664',
 '181',
 '770',
 '650',
 '1245',
 '1300',
 '278',
 '462',
 '314',
 '1145',
 '671',
 '690',
 '789',
 '852',
 '382',
 '1011',
 '955',
 '858',
 '646',
 '732',
 '1275',
 '981',
 '121',
 '755',
 '1029',
 '358',
 '334',
 '162',
 '869',
 '811',
 '290',
 '31',
 '865',
 '697',
 '257',
 '825',
 '222',
 '57',
 '1161',
 '588',
 '592',
 '674',
 '637',
 '715',
 '1082',
 '503',
 '822',
 '1093',
 '878',
 '934',
 '1018',
 '1094',
 '372',
 '410',
 '1032',
 '68',
 '329',
 '92',
 '752',
 '943',
 '1179',
 '199',
 '804',
 '303',
 '980',
 '842',
 '787',
 '274',
 '1267',
 '364',
 '155',
 '88',
 '409',
 '315',
 '96',
 '408',
 '1190',
 '1166',
 '728',
 '807',
 '90',
 '123',
 '189',
 '1024',
 '1230',
 '945',
 '146',
 '947',
 '962',
 '16',
 '185',
 '1281',
 '930',
 '808',
 '731',
 '366',
 '1172',
 '253',
 '436',
 '1146',
 '1215',
 '805',
 '242',
 '624',
 '45',
 '558',
 '1194',
 '800',
 '163',
 '375',
 '6',
 '21',
 '824',
 '442',
 '1220',
 '1148',
 '606',
 '591',
 '380',
 '1197',
 '1033',
 '391',
 '729',
 '1195',
 '668',
 '296',
 '1056',
 '488',
 '73',
 '1086',
 '26',
 '109',
 '528',
 '34',
 '184',
 '1228',
 '1142',
 '1217',
 '1012',
 '461',
 '1237',
 '248',
 '1079',
 '216',
 '1273',
 '427',
 '739',
 '1178',
 '1284',
 '491',
 '514',
 '1181',
 '873',
 '277',
 '990',
 '20',
 '982',
 '757',
 '1233',
 '412',
 '836',
 '211',
 '716',
 '186',
 '978',
 '517',
 '523',
 '909',
 '430',
 '890',
 '935',
 '913',
 '48',
 '630',
 '71',
 '168',
 '486',
 '707',
 '995',
 '699',
 '323',
 '1198',
 '112',
 '1302',
 '1049',
 '341',
 '621',
 '60',
 '346',
 '1298',
 '1105',
 '1158',
 '835',
 '270',
 '678',
 '543',
 '110',
 '724',
 '1180',
 '631',
 '1060',
 '1078',
 '113',
 '784',
 '1050',
 '294',
 '860',
 '817',
 '1272',
 '791',
 '870',
 '1292',
 '1062',
 '751',
 '1137',
 '944',
 '607',
 '385',
 '378',
 '1036',
 '918',
 '178',
 '360',
 '1211',
 '1103',
 '311',
 '992',
 '788',
 '560',
 '208',
 '190',
 '182',
 '119',
 '1253',
 '711',
 '1130',
 '1176',
 '1150',
 '756',
 '1043',
 '1058',
 '432',
 '802',
 '872',
 '666',
 '116',
 '538',
 '406',
 '912',
 '301',
 '806',
 '320',
 '36',
 '994',
 '774',
 '1000',
 '143',
 '393',
 '827',
 '198',
 '539',
 '456',
 '249',
 '1081',
 '237',
 '377',
 '1234',
 '437',
 '826',
 '477',
 '1116',
 '956',
 '279',
 '1009',
 '680',
 '118',
 '1305',
 '1019',
 '799',
 '979',
 '357',
 '1113',
 '1296',
 '1059',
 '482',
 '914',
 '713',
 '908',
 '760',
 '1125',
 '39',
 '921',
 '1209',
 '781',
 '628',
 '883',
 '441',
 '263',
 '1045',
 '1023',
 '282',
 '1175',
 '154',
 '1261',
 '288',
 '490',
 '846',
 '480',
 '129',
 '887',
 '236',
 '176',
 '465',
 '966',
 '1141',
 '386',
 '1242',
 '373',
 '519',
 '431',
 '1277',
 '535',
 '130',
 '1235',
 '851',
 '1114',
 '389',
 '889',
 '356',
 '927',
 '710',
 '1171',
 '773',
 '692',
 '1002',
 '93',
 '1042',
 '1133',
 '1108',
 '509',
 '273',
 '141',
 '1110',
 '823',
 '587',
 '37',
 '1173',
 '376',
 '400',
 '1250',
 '963',
 '1270',
 '951',
 '310',
 '313',
 '420',
 '1266',
 '1252',
 '126',
 '932',
 '1092',
 '1285',
 '676',
 '374',
 '1162',
 '1057',
 '911',
 '69',
 '469',
 '239',
 '903',
 '632',
 '1075',
 '312',
 '35',
 '768',
 '42',
 '936',
 '619',
 '55',
 '1278',
 '988',
 '326',
 '1219',
 '120',
 '318',
 '555',
 '1207',
 '1186',
 '600',
 '727',
 '1',
 '508',
 '29',
 '960',
 '261',
 '1170',
 '576',
 '1107',
 '976',
 '593',
 '893',
 '337',
 '265',
 '51',
 '959',
 '0',
 '494',
 '1144',
 '268',
 '687',
 '379',
 '730',
 '950',
 '891',
 '1041',
 '200',
 '685',
 '614',
 '132',
 '22',
 '885',
 '583',
 '1236',
 '772',
 '848',
 '14',
 '937',
 '291',
 '743',
 '492',
 '573',
 '433',
 '328',
 '609',
 '464',
 '50',
 '458',
 '749',
 '819',
 '722',
 '201',
 '721',
 '304',
 '792',
 '336',
 '525',
 '844',
 '849',
 '483',
 '572',
 '25',
 '226',
 '511',
 '340',
 '233',
 '234',
 '617',
 '965',
 '859',
 '74',
 '137',
 '541',
 '1044',
 '1109',
 '145',
 '701',
 '259',
 '451',
 '368',
 '581',
 '343',
 '855',
 '924',
 '384',
 '210',
 '78',
 '180',
 '28',
 '272',
 '1100',
 '295',
 '349',
 '834',
 '1132',
 '241',
 '530',
 '256',
 '1262',
 '953',
 '1243',
 '1001',
 '512',
 '559',
 '414',
 '533',
 '1061',
 '1295',
 '1152',
 '1240',
 '280',
 '780',
 '473',
 '179',
 '1015',
 '453',
 '1088',
 '1046',
 '1007',
 '471',
 '736',
 '507',
 '1169',
 '652',
 '81',
 '102',
 '602',
 '264',
 '1294',
 '550',
 '1080',
 '158',
 '255',
 '987',
 '734',
 '67',
 '416',
 '1051',
 '938',
 '625',
 '892',
 '705',
 '986',
 '549',
 '815',
 '306',
 '841',
 '415',
 '659',
 '601',
 '998',
 '281',
 '224',
 '144',
 '1089',
 '880',
 '1224',
 '831',
 '452',
 '44',
 '985',
 '1199',
 '712',
 '964',
 '884',
 '232',
 '1218',
 '1098',
 '429',
 '344',
 '1239',
 '66',
 '139',
 '174',
 '309',
 '316',
 '660',
 '897',
 '125',
 '85',
 '1247',
 '1227',
 '284',
 '1154',
 '170',
 '308',
 '861',
 '604',
 '215',
 '565',
 '540',
 '813',
 '363',
 '586',
 '101',
 '547',
 '864',
 '636',
 '1165',
 '793',
 '1067',
 '605',
 '292',
 '38',
 '814',
 '173',
 '518',
 '1072',
 '521',
 '504',
 '803',
 '229',
 '165',
 '635',
 '392',
 '1241',
 '1087',
 '135',
 '673',
 '134',
 '640',
 '1206',
 '1293',
 '387',
 '13',
 '339',
 '742',
 '933',
 '1204',
 '972',
 '910',
 '300',
 '741',
 '997',
 '104',
 '59',
 '1187',
 '467',
 '662',
 '187',
 '735',
 '797',
 '778',
 '719',
 '820',
 '53',
 '1090',
 '122',
 '837',
 '1231',
 '100',
 '1074',
 '1188',
 '177',
 '582',
 '362',
 '1191',
 '1196',
 '1085',
 '767',
 '1065',
 '1106',
 '1259',
 '809',
 '1268',
 '83',
 '708',
 '899',
 '27',
 '1221',
 '585',
 '763',
 '230',
 '156',
 '700',
 '1260',
 '1102',
 '568',
 '468',
 '566',
 '361',
 '7',
 '128',
 '422',
 '661',
 '448',
 '561',
 '1214',
 '977',
 '879',
 '498',
 '786',
 '629',
 '1025',
 '821',
 '262',
 '65',
 '548',
 '231',
 '769',
 '1269',
 '342',
 '925',
 '1226',
 '796',
 '1073',
 '175',
 '1216',
 '472',
 '1101',
 '1134',
 '1213',
 '4',
 '1115',
 '1276',
 '714',
 '390',
 '698',
 '888',
 '347',
 '564',
 '30',
 '744',
 '1265',
 '745',
 '790',
 '160',
 '1055',
 '1208',
 '761',
 '212',
 '1156',
 '324',
 '1118',
 '459',
 '881',
 '1054',
 '105',
 '418',
 '1069',
 '127',
 '1283',
 '651',
 '531',
 '595',
 '398',
 '940',
 '221',
 '266',
 '895',
 '877',
 '973',
 '94',
 '1185',
 '307',
 '333',
 '202',
 '989',
 '876',
 '1223',
 '460',
 '355',
 '299',
 '1053',
 '238',
 '546',
 '1264',
 '634',
 '904',
 '1022',
 '89',
 '970',
 '82',
 '762',
 '167',
 '305',
 '623',
 '569',
 '218',
 '1136',
 '367',
 '115',
 '513',
 '1030',
 '164',
 '1091',
 '616',
 '649',
 '740',
 '353',
 '1159',
 '203',
 '610',
 '1040',
 '675',
 '149',
 '758',
 '293',
 '1016',
 '537',
 '574',
 '1210',
 '394',
 '603',
 '1014',
 '1167',
 '969',
 '193',
 '1020',
 '147',
 '487',
 '228',
 '450',
 '983',
 '1052',
 '1099',
 '1287',
 '1182',
 '923',
 '1083',
 '219',
 '131',
 '1028',
 '354',
 '919',
 '283',
 '435',
 '439',
 '1077',
 '434',
 '455',
 '1274',
 '183',
 '579',
 '9',
 '47',
 '931',
 '159',
 '1254',
 '667',
 '929',
 '1149',
 '642',
 ...}

In [44]:
#acct - daily engagement 
#account_key proj_submisssions

unique_engagement_students =set()
for engagement in engagementDF["acct"]:
    unique_engagement_students.add(engagement)

unique_proj_students =set()
for proj in project_subDF["account_key"]:
    unique_proj_students.add(proj)

In [45]:
print(len(unique_engagement_students))                   
print(len(unique_proj_students))

1237
743

## Problems in the Data

In [46]:
#####################################
#                 3                 #
#####################################

## Rename the "acct" column in the daily_engagement table to "account_key".

IN Dataframeway

In [47]:
## wrong : engagementDF["acct"] = engagementDF["ab"] to rename
##use : df.rename(columns = {'oldnm':'newnm'},index={'old':'new'},inplace = True)
engagementDF.rename(columns={"acct":"account_key"},inplace = True)
engagementDF.head()

,account_key,utc_date,num_courses_visited,total_minutes_visited,lessons_completed,projects_completed
0,0,2015-01-09,1,11.679374,0,0
1,0,2015-01-10,2,37.284887,0,0
2,0,2015-01-11,2,53.633746,0,0
3,0,2015-01-12,1,33.489270,0,0
4,0,2015-01-13,1,64.779678,0,0

### IN argument Tableway (change data in Dictionary type)
>it's impossible to rename keyvalue so we need to 'pop' out and putit new one

In [48]:
type(daily_engagement)

list

In [49]:
daily_engagement['account_key'] = daily_engagement['acct']
#list integers must be a integers

TypeError: list indices must be integers or slices, not str

In [50]:
for engagement_record in daily_engagement:
    engagement_record['account_key'] = engagement_record['acct']
    del [engagement_record['acct']]

In [51]:
def get_unique_students(data):
    unique_students = set()
    for data_point in data:
        unique_students.add(data_point['account_key'])
    return unique_students
print("len of enrollments : "+ str(len(enrollments)))
unique_enrolled_students = get_unique_students(enrollments)
print("len of unique enrolled_students:"+str(len(unique_enrolled_students)))
print("len of daily engagement: " + str(len(daily_engagement)))
unique_engagement_students = get_unique_students(daily_engagement)
print("unique engagement students: "+str(len(unique_engagement_students)))
print("len of project_submissions: "+str(len(project_submissions)))
unique_project_submitters = get_unique_students(project_submissions)
print("len of inique project submiitters: "+ str(len(unique_project_submitters)))

len of enrollments : 1640
len of unique enrolled_students:1302
len of daily engagement: 136240
unique engagement students: 1237
len of project_submissions: 3642
len of inique project submiitters: 743

## Missing Engagement Records

In [52]:
#####################################
#                 4                 #
#####################################

## Find any one student enrollments where the student is missing from the daily engagement table.
## Output that enrollment.
##using pyton breaak method

In [53]:
enrollments[0]

{'account_key': '448',
 'status': 'canceled',
 'join_date': datetime.datetime(2014, 11, 10, 0, 0),
 'cancel_date': datetime.datetime(2015, 1, 14, 0, 0),
 'days_to_cancel': 65,
 'is_udacity': True,
 'is_canceled': True}

In [54]:
enrollments[0]['account_key']

'448'

In [55]:
enrollments['account_key']

TypeError: list indices must be integers or slices, not str

In [56]:
for enrollment in enrollments:
    student = enrollment['account_key']
    if student not in unique_engagement_students:
        print( enrollment)
        break

{'account_key': '1219', 'status': 'canceled', 'join_date': datetime.datetime(2014, 11, 12, 0, 0), 'cancel_date': datetime.datetime(2014, 11, 12, 0, 0), 'days_to_cancel': 0, 'is_udacity': False, 'is_canceled': True}

## Checking for More Problem Records

In [57]:
#####################################
#                 5                 #
#####################################

## Find the number of surprising data points (enrollments missing from
## the engagement table) that remain, if any.

In [58]:
count = 0 ;
for enrollment in enrollments:
    student = enrollment['account_key']
    if student not in unique_engagement_students:
        count += 1
        
print(count)

71

## 71 is the number of originally surprising data points 
 that is, the number of enrollments with no corresponding engagement data. 
 How many of those also stayed enrolled at least 1 day?

In [59]:
sub1 = enrollments[0]['cancel_date'] - enrollments[0]['join_date']
type(sub1)

#wrong way to think we need a data of least 1day.

#  sub = enrollment['cancel_date']-enrollments['join_date']
#   if sub == 1:
#       count +=1 >>>>>>>>>>>> not propre think more easy focus on data meaning

datetime.timedelta

In [65]:
count = 0 

for enrollment in enrollments:
    student = enrollment['account_key']
    if student not in unique_engagement_students \
    and enrollment['join_date'] != enrollment['cancel_date']:
        count += 1

count

3

In [67]:
count = 0 

for enrollment in enrollments:
    student = enrollment['account_key']
    if student not in unique_engagement_students \
    and enrollment['join_date'] != enrollment['cancel_date']:
        count += 1
        print(enrollment)
count

{'account_key': '1304', 'status': 'canceled', 'join_date': datetime.datetime(2015, 1, 10, 0, 0), 'cancel_date': datetime.datetime(2015, 3, 10, 0, 0), 'days_to_cancel': 59, 'is_udacity': True, 'is_canceled': True}
{'account_key': '1304', 'status': 'canceled', 'join_date': datetime.datetime(2015, 3, 10, 0, 0), 'cancel_date': datetime.datetime(2015, 6, 17, 0, 0), 'days_to_cancel': 99, 'is_udacity': True, 'is_canceled': True}
{'account_key': '1101', 'status': 'current', 'join_date': datetime.datetime(2015, 2, 25, 0, 0), 'cancel_date': None, 'days_to_cancel': None, 'is_udacity': True, 'is_canceled': False}

3

## Tracking Down the Remaining Problems

In [68]:
# Create a set of the account keys for all Udacity test accounts
udacity_test_accounts = set()
for enrollment in enrollments:
    if enrollment['is_udacity']:
        udacity_test_accounts.add(enrollment['account_key'])
len(udacity_test_accounts)

6

In [69]:
# Given some data with an account_key field, removes any records corresponding to Udacity test accounts
def remove_udacity_accounts(data):
    non_udacity_data = []
    for data_point in data:
        if data_point['account_key'] not in udacity_test_accounts:
            non_udacity_data.append(data_point)
    return non_udacity_data

In [72]:
# Remove Udacity test accounts from all three tables
non_udacity_enrollments = remove_udacity_accounts(enrollments)
non_udacity_engagement = remove_udacity_accounts(daily_engagement)
non_udacity_submissions = remove_udacity_accounts(project_submissions)

print(len(non_udacity_enrollments))
print(len(non_udacity_engagement))
print(len(non_udacity_submissions))

1622
135656
3634

## Refining the Question

In [73]:
#####################################
#                 6                 #
#####################################

## Create a dictionary named paid_students containing all students who either
## haven't canceled yet or who remained enrolled for more than 7 days. The keys
## should be account keys, and the values should be the date the student enrolled.


paid_students = {}

for enrollment in non_udacity_enrollments:
    if not enrollment['is_canceled'] or enrollment['days_to_cancel'] > 7 :
        account_key = enrollment['account_key']
        enrollment_date = enrollment['join_date']
        paid_students[account_key] = enrollment_date
    
len(paid_students)

995

#### Same student can enroll in multiple time

In [ ]:
paid_students = {}

for enrollment in non_udacity_enrollments:
    if not enrollment['is_canceled'] or enrollment['days_to_cancel'] > 7 :
        account_key = enrollment['account_key']
        enrollment_date = enrollment['join_date']
        paid_students[account_key] = enrollment_date

        
        
    
        
        
len(paid_students)

## Getting Data from First Week

In [ ]:
# Takes a student's join date and the date of a specific engagement record,
# and returns True if that engagement record happened within one week
# of the student joining.
def within_one_week(join_date, engagement_date):
    time_delta = engagement_date - join_date
    return time_delta.days < 7

In [ ]:
#####################################
#                 7                 #
#####################################

## Create a list of rows from the engagement table including only rows where
## the student is one of the paid students you just found, and the date is within
## one week of the student's join date.

paid_engagement_in_first_week =

## Exploring Student Engagement

In [ ]:
from collections import defaultdict

# Create a dictionary of engagement grouped by student.
# The keys are account keys, and the values are lists of engagement records.
engagement_by_account = defaultdict(list)
for engagement_record in paid_engagement_in_first_week:
    account_key = engagement_record['account_key']
    engagement_by_account[account_key].append(engagement_record)

In [ ]:
# Create a dictionary with the total minutes each student spent in the classroom during the first week.
# The keys are account keys, and the values are numbers (total minutes)
total_minutes_by_account = {}
for account_key, engagement_for_student in engagement_by_account.items():
    total_minutes = 0
    for engagement_record in engagement_for_student:
        total_minutes += engagement_record['total_minutes_visited']
    total_minutes_by_account[account_key] = total_minutes

In [ ]:
import numpy as np

# Summarize the data about minutes spent in the classroom
total_minutes = total_minutes_by_account.values()
print 'Mean:', np.mean(total_minutes)
print 'Standard deviation:', np.std(total_minutes)
print 'Minimum:', np.min(total_minutes)
print 'Maximum:', np.max(total_minutes)

## Debugging Data Analysis Code

In [ ]:
#####################################
#                 8                 #
#####################################

## Go through a similar process as before to see if there is a problem.
## Locate at least one surprising piece of data, output it, and take a look at it.

## Lessons Completed in First Week

In [ ]:
#####################################
#                 9                 #
#####################################

## Adapt the code above to find the mean, standard deviation, minimum, and maximum for
## the number of lessons completed by each student during the first week. Try creating
## one or more functions to re-use the code above.

## Number of Visits in First Week

In [ ]:
######################################
#                 10                 #
######################################

## Find the mean, standard deviation, minimum, and maximum for the number of
## days each student visits the classroom during the first week.

## Splitting out Passing Students

In [ ]:
######################################
#                 11                 #
######################################

## Create two lists of engagement data for paid students in the first week.
## The first list should contain data for students who eventually pass the
## subway project, and the second list should contain data for students
## who do not.

subway_project_lesson_keys = ['746169184', '3176718735']

passing_engagement =
non_passing_engagement =

## Comparing the Two Student Groups

In [ ]:
######################################
#                 12                 #
######################################

## Compute some metrics you're interested in and see how they differ for
## students who pass the subway project vs. students who don't. A good
## starting point would be the metrics we looked at earlier (minutes spent
## in the classroom, lessons completed, and days visited).

## Making Histograms

In [ ]:
######################################
#                 13                 #
######################################

## Make histograms of the three metrics we looked at earlier for both
## students who passed the subway project and students who didn't. You
## might also want to make histograms of any other metrics you examined.

## Improving Plots and Sharing Findings

In [ ]:
######################################
#                 14                 #
######################################

## Make a more polished version of at least one of your visualizations
## from earlier. Try importing the seaborn library to make the visualization
## look better, adding axis labels and a title, and changing one or more
## arguments to the hist() function.